.paso1-container {
    display: flex;
    flex-direction: column;
    color: var(--color-dark-text);
    font-family: "Afacad", sans-serif;
}

.paso1-titulo {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.paso1-descripcion {
    color: var(--color-gray-text);
    margin-bottom: 2rem;
}

.form-grid {
    display: grid;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-grid-doble {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.file-input-container {
    display: flex;
    flex-direction: column;
}

.file-label {
    margin-bottom: 0.5rem;
}

.file-input {
    border: 1px solid var(--color-light-border);
    border-radius: 8px;
    padding: 8px;
    outline: none;
}

.file-input:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px var(--color-primary-light);
}
