html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}