@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Amiri+Quran&family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --font-amiri: "Amiri Quran", serif;
  --font-fira: "Fira Code", monospace;
  --font-open-sans: "Open Sans", sans-serif;
  --font-afacad: "Afacad", sans-serif;
}